<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

</div>
<h1> Welcome to expense Tracker</h1>
<div class="button-container">
    <form action="/register" method="GET">
        <button type="submit">Register</button>
    </form>
</div>


    <h1>Login</h1>
   <div>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>

</body>
</html>
